{% extends 'base.html' %}

{% block content %}
    <div>
        <h2> {{ documentnotification.title }}</h2>
        <p> {{ documentnotification.created_at }}</p>
        <p> {{ documentnotification.path_to_template }}</p>
    </div>

    <h1><a href="#">Скачать документ</a></h1>

    <div class="col-md-4">

        <a href="{% url 'document_notification_download_docx' documentnotification.pk %}" class="btn btn-primary">Export DOCX</a>
{#        <a href="#" class="btn btn-secondary">Export PDF</a>#}

    </div>

    <a href="{% url 'document_notification_edit' documentnotification.pk %}">+Редактировать данные для документа</a>
    </br>
    <a href="{% url 'document_notification_delete' documentnotification.pk %}">-Удалить документ</a>
{% endblock %}