{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>Последние созданные документы</h1>
    </div>


    {% for document in object_list %}


        <div class="list-group">

            <a href="{% url 'document_notification_detail' document.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ document.title }}</h5>
                    <small class="text-muted">{{ document.created_at }}</small>
                </div>
                <p class="mb-1"><p>{{ document.path_to_template }}</p></p>
                <small class="text-muted"><p>{{ document.template_name }}</p></small>
            </a>

        </div>
    {% endfor %}

    </br>
    <a href="{% url 'document_notification_new' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Создать документ</a>
{% endblock %}