{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">
    <h1> Редактировать документ </h1>
    <form method="post" action="">

        {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group" >
                {{ field.label_tag }}
{#                {{ field }}#}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            </br>
        {% endfor %}
        <input class="btn btn-warning" type="submit" value="Обновить данные">
    <input type="button" class="btn btn-outline-secondary" value="Отмена" onclick="history.back()">
    </form>
{% endblock %}