{% extends 'base.html' %}

{% block content %}


    <div>
        <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">
        {#        <h2> {{ documentconsent.title }}</h2>#}
        {#        <p> {{ documentconsent.created_at }}</p>#}
        {#        <p> {{ documentconsent.path_to_template }}</p>#}
    </div>
    {#    <div>#}
    {#        <h2> {{ documentnotification.title }}</h2>#}
    {#        <p> {{ documentnotification.created_at }}</p>#}
    {#        <p> {{ documentnotification.path_to_template }}</p>#}
    {#    </div>#}
    {##}
    {#    <div class="col-md-4">#}
    {##}
    {#        <a href="{% url 'document_notification_download_docx' documentnotification.pk %}" class="btn btn-primary">Скачать в формате DOCX</a>#}
    {#        <a href="#" class="btn btn-danger">Скачать в формате PDF</a>#}
    {##}
    {#    </div>#}
    {##}
    {#    <a href="{% url 'document_notification_edit' documentnotification.pk %}" class="btn btn-outline-warning">+Редактировать данные для документа</a>#}
    {#    </br>#}
    {#    <a href="{% url 'document_notification_delete' documentnotification.pk %}" class="btn btn-outline-danger">-Удалить документ</a>#}
    {##}
    {##}
    {##}
    {#    <a href="{% url 'sign_dc_new' %}" class="btn btn-dark" >Подписать и отправить</a>#}





    <div class="d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h2 class="card-title">{{ documentnotification.title }}</h2>
                <p class="card-text">{{ documentnotification.created_at }}</p>
                <p class="card-text">{{ documentnotification.path_to_template }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'document_notification_download_docx' documentnotification.pk %}"
                       class="btn btn-primary">Скачать в формате DOCX</a>
                    <a href="#" class="btn btn-danger">Скачать в формате PDF</a>
                </li>

                {#        <li class="list-group-item">Vestibulum at eros</li>#}
            </ul>
            <div class="card-body">
                <a href="{% url 'document_notification_edit' documentnotification.pk %}"
                   class="btn btn-outline-warning">Редактировать данные для документа</a>
                <a href="{% url 'document_notification_delete' documentnotification.pk %}"
                   class="btn btn-outline-danger">Удалить документ</a>

            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'sign_dc_new' %}" class="btn btn-dark">Подписать и отправить</a>
                </li>

            </ul>
        </div>
    </div>

{% endblock %}