{% extends 'base.html' %}

{% block content %}
    <div>
    <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">
        <h2> {{ signdocument.document_consent_name }}</h2>
        <p> {{ signdocument.status }}</p>
        <p> {{ signdocument.FIO_head }}</p>
    </div>

    <div class="col-md-4">



    </div>

</br>
    </br>
    

<a href="{% url 'head_sign_dc_detail_edit' signdocument.pk %}" class="btn btn-outline-primary" >Переход на подтверждения подписания</a>



{#    <a href="#" class="btn btn-dark" >Подписать и отправить</a>#}
{% endblock %}