#header,
.module h2, .module caption, .inline-group h2{
    background: #343a40;
    color: white;
}

#site-name a:link, #site-name a:visited {
    color: white;
}

div.breadcrumbs {
    background: #282e31;
}

#nav-sidebar .current-model {
    background: #7885ec57;
}

a:link, a:visited {
    color: #0042a3;
}

.object-tools a:link, .object-tools a:visited {
    background: #0d6efd;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #3b5986;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}


.button.default, input[type=submit].default, .submit-row input.default {
    border: none;
    font-weight: 400;
    background: #0d6efd;
}

#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited{
    color: white;
    font-weight: bold;
}
