{% extends 'base.html' %}

{% block content %}
{#    <div>#}
{#    <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">#}
{#        <h2> {{ documentset.title}}</h2>#}
{#        <p> {{ documentset.created_at }}</p>#}
{#        <p> {{ documentset.path_to_template }}</p>#}
{#    </div>#}
{##}
{#    <div class="col-md-4">#}
{##}
{#    {% url 'document_consent_download_docx' documentset.pk %}#}
{#        <a href="{% url 'document_sets_download_docx' documentset.pk %}" class="btn btn-primary">Скачать в формате DOCX</a>#}
{#        <a href="{% url 'document_sets_download_pdf' documentset.pk %}" class="btn btn-danger">Скачать в формате PDF</a>#}
{##}
{#    </div>#}
{##}
{#    <a href="{% url 'document_sets_edit' documentset.pk %}" class="btn btn-outline-warning">+Редактировать данные для документа</a>#}
{#    </br>#}
{#    <a href="{% url 'document_sets_delete' documentset.pk %}" class="btn btn-outline-danger" >-Удалить документ</a>#}
{##}
{##}
{#    <a href="#" class="btn btn-dark" >Подписать и отправить</a>#}


    <div>
        <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">

    </div>

    <div class="d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h2 class="card-title">{{ documentset.title }}</h2>
                <p class="card-text">{{ documentset.created_at }}</p>
                <p class="card-text">{{ documentset.path_to_template }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'document_sets_download_docx' documentset.pk %}" class="btn btn-primary">Скачать в формате DOCX</a>
        <a href="{% url 'document_sets_download_pdf' documentset.pk %}" class="btn btn-danger">Скачать в формате PDF</a>
                </li>

                {#        <li class="list-group-item">Vestibulum at eros</li>#}
            </ul>
            <div class="card-body">
                <a href="{% url 'document_sets_edit' documentset.pk %}" class="btn btn-outline-warning">Редактировать данные для документа</a>

    <a href="{% url 'document_sets_delete' documentset.pk %}" class="btn btn-outline-danger" >Удалить документ</a>

            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="btn btn-dark">Подписать и отправить</a>
                </li>

            </ul>
        </div>
    </div>


{% endblock %}