{% extends 'base.html' %}

{% block content %}
{#    <h1>Последние созданные документы</h1>#}
{#    <h1><a href="{% url 'document_new' %}">Создать Документ на согласие</a></h1>#}

    <h1><a href="{% url 'documents_consent_all' %}">Документы на согласие</a></h1>
    <h1><a href="#">Документы на уведомление</a></h1>
    <h1><a href="#">Документ о выплате авторского вознаграждения</a></h1>
    <h1><a href="#">Документ о листинге</a></h1>
    <h1><a href="#">Заявление о гос регистрации</a></h1>
    <h1><a href="#">Стопка документов на регистрацию патента</a></h1>
    <h1><a href="#">Стопка документов на поспупление в ВУЗ</a></h1>





{% endblock %}

