{% extends 'base.html' %}

{% block content %}
    <div>
        <h2> {{ documentconsent.title }}</h2>
        <p> {{ documentconsent.created_at }}</p>
        <p> {{ documentconsent.path_to_template }}</p>
    </div>

    <div class="col-md-4">

        <a href="{% url 'document_consent_download_docx' documentconsent.pk %}" class="btn btn-primary">Export DOCX</a>
{#        <a href="#" class="btn btn-secondary">Export PDF</a>#}

    </div>

    <a href="{% url 'document_consent_edit' documentconsent.pk %}" class="btn btn-outline-warning">+Редактировать данные для документа</a>
    </br>
    <a href="{% url 'document_consent_delete' documentconsent.pk %}" class="btn btn-outline-danger" >-Удалить документ</a>
{% endblock %}