{% extends 'base.html' %}

{% block content %}
    <div>
        <h2> {{ documentconsent.title }}</h2>
        <p> {{ documentconsent.created_at }}</p>
        <p> {{ documentconsent.path_to_template }}</p>
    </div>

    <h1><a href="#">Скачать документ</a></h1>
{#    идея для хитрости: мы и так сохраняем данные в базу данных, которые нужно внести в документ.#}
{#    подумать: как подставить данные в документ, оперируя теми знаниями, когда в первый раз писалась и генерилась программа к консоли#}
{#    #1 там данные вводились и подставлялись как то?#}
{#    #2 берем данные из бд#}
{#    #3 берем файл, который хранится на сервере - вот эта штука не реализована,#}
{#        как ее сделать, чтобы файл сохранялся, а то пока пустые значения в бд - для опыта надо начать с ШАБЛОНа - тоже должны уметь скачать документ и загружать#}
{#        есть специальные штуки 100%%% которые способны прикрепить файл, может туда копнуть??#}
{#    #4 и соединяем это каким-то образом - где должна быть подстановка???#}
{#    #5 скачиваем файл - сделать шаг с выбором в каком формате#}
{#    #6 как-то обеспечить загрузку файла#}
{#    #7 также наложить ограничение на формат файла, когда мы принимаем#}
    <a href="{% url 'document_consent_edit' documentconsent.pk %}">+Редактировать данные для документа</a>
    </br>
    <a href="{% url 'document_consent_delete' documentconsent.pk %}">-Удалить документ</a>
{% endblock %}