{% extends 'base.html' %}

{% block content %}
    <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">

    <div>
        <h2> {{ sample.title  }}</h2>
        <p> {{ sample.created_at}}</p>
        <p> {{ sample.path_to_template }}</p>
    </div>

    <div class="col-md-4">

        <a href="{% url 'sample_download_docx' sample.pk %}" class="btn btn-primary">Export DOCX</a>
{#        <a href="#sample_download_pdf" class="btn btn-secondary">Export PDF</a>#}

    </div>

    <a href="{% url 'sample_edit' sample.pk %}" class="btn btn-outline-warning">+Редактировать шаблон</a>
    </br>
    <a href="{% url 'sample_delete' sample.pk %}" class="btn btn-outline-danger">-Удалить шаблон</a>
{% endblock %}