{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/sample.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />


    <div>
    <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">
        <h1>Последние созданные шаблоны</h1>
    </div>


    {% for sample in object_list %}

        <div class="list-group" style="width: 900px;">

            <a href="{% url 'sample_detail' sample.pk %}"  class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between" style="width: 300px; height: 70px">
                    <h5 class="mb-1">{{ sample.title }}</h5>
                    <small class="text-muted">{{ sample.created_at }}</small>
{#                    <p class="mb-1">#}
{#                    <p>{{ sample.path_to_template }}</p></p>#}
                    {#                <small class="text-muted"><p>{{ document.template_name }}</p></small>#}
{#                    <a href="{% url 'document_consent_new' %}" class="btn btn-primary btn-lg active" role="button"#}
{#                       aria-pressed="true">Создать документ</a>#}
                </div>
            </a>

        </div>
    {% endfor %}

    </br>
    </br>
    </br>
    </br>
    {% if user.is_authenticated %}
    <a href="{% url 'sample_new' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Создать шаблон</a>
    {% else %}
            <a href="{% url 'sample_new' %}"  ></a>

    {% endif %}


{% endblock %}