{% extends 'base.html' %}

{% block content %}
    <input type="button" class="btn btn-outline-secondary" value="Назад" onclick="history.back()">
    <h1>Отозвать заявление</h1>
    <form action="" method="post"> {% csrf_token %}
        <p>Вы уверены, что хотите отозвать заявление "{{ documentconsent.title }}" ?</p>
                <input class="btn btn-danger" type="submit" value="Да">

    <input type="button" class="btn btn-outline-secondary" value="Отмена" onclick="history.back()">
    </form>
{% endblock content%}